# PostgreSQL
POSTGRES_USER=n8n
POSTGRES_PASSWORD=change_me_pg_password
POSTGRES_DB=n8n
POSTGRES_NON_ROOT_USER=n8n_user
POSTGRES_NON_ROOT_PASSWORD=change_me_pg_user_password

# n8n
N8N_ENCRYPTION_KEY=change_me_random_string
N8N_HOST=localhost
N8N_PROTOCOL=http
WEBHOOK_URL=http://localhost:5678/
GENERIC_TIMEZONE=Asia/Shanghai

# Product Hunt API (https://www.producthunt.com/v2/oauth/applications)
PRODUCTHUNT_API_TOKEN=

# DeepSeek API (https://platform.deepseek.com/)
DEEPSEEK_API_KEY=

# Discord Webhook URL
DISCORD_WEBHOOK_URL=
