DEEPSEEK_API_KEY=sk-94b18e43ac8746a48b8386f4749d8f75           # DeepSeek API key
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/1474233802992783425/KZEG0Nf5rkQd_barJm58BZbUDX-KyXCNMJTByUUjVBN3BjR3zRLkTDvQNlIo0CW-x6Da        # Discord webhook URL
BILIBILI_SESSDATA=          # Optional: Bilibili SESSDATA cookie for subtitle access
